<fieldset class='speed-and-reach tab {{ifThen (eq activeTabs.main "details") "active" ""}}' data-group='main' data-tab='details'>
    <legend>{{localize 'system.sheets.items.ancestry.speedAndReach'}}</legend>
    <div class='ds-property'>
        <div class='label'>{{fields.reach.label}}</div>
        <div class='value'>{{formInput fields.reach value=source.system.reach localize=true classes='ancestry-reach'}}</div>
    </div>
    <div class='ds-property'>
        <div class='label'>{{fields.speed.label}}</div>
        <div class='value'>{{formInput fields.speed value=source.system.speed localize=true classes='ancestry-speed'}}</div>
    </div>
</fieldset>