<div class='conditions'>
    {{#each conditions as |condition|}}
        <div class='condition'>
            <span>{{condition.name}}</span>
            <span class='edit-condition' data-condition-id='{{condition.id}}'>Edit</span>
            <span class='delete-condition' data-condition-id='{{condition.id}}'>Delete</span>
        </div>
    {{/each}}
</div>
<div class='effects'>
    {{#if activeEffects}}
        <div class='active-effects'>
            <div class='mcdmrpg-header'>Active Effects</div>
            {{#each activeEffects as |effect|}}
                <div class='effect'>
                    <div class='effect-name'>{{effect.name}}</div>
                    <div class='edit-effect' data-effect-id='{{effect.uuid}}'>Edit</div>
                    <div class='delete-effect' data-effect-id='{{effect.uuid}}'>Delete</div>
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if inactiveEffects}}
        <div class='inactive-effects'>
            <div class='mcdmrpg-header'>Inactive Effects</div>
            {{#each inactiveEffects as |effect|}}
                <div class='effect'>
                    <div class='effect-name'>{{effect.name}}</div>
                    <div class='edit-effect' data-effect-id='{{effect.uuid}}'>Edit</div>
                    <div class='delete-effect' data-effect-id='{{effect.uuid}}'>Delete</div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>