all conditions
<div class='conditions'>
    {{#each conditionsList as |condition|}}
        <div class='condition'>
            <div>{{localize condition.name}}</div>
            <div class='toggle-condition' data-condition-id='{{condition.id}}'>
                {{#if (or (eq condition.id 'ongoingdamage') (eq condition.id 'taunted') (eq condition.id 'frightened'))}}
                    <i class="fa-regular fa-pencil"></i>
                {{else}}
                    {{#if (includes ../actor.effects condition._id)}}
                        <i class='fa-solid fa-toggle-on' data-tooltip="Toggle {{localize condition.name}}"></i>
                    {{else}}
                        <i class='fa-solid fa-toggle-off' data-tooltip="Toggle {{localize condition.name}}"></i>
                    {{/if}}
                {{/if}}
            </div>
            <div class="condition-values">
                {{#if (eq condition.id 'ongoingdamage')}}
                    {{#each ../actor.system.ongoingDamage as |value|}}
                        {{#unless (eq value 0)}}
                            {{@key}} - {{value}}
                        {{/unless}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>

<div class='effects'>
    {{#if activeEffects}}
        <div class='active-effects'>
            <div class='mcdmrpg-header'>Active Effects</div>
            {{#each activeEffects as |effect|}}
                <div class='effect'>
                    <div class='effect-name'>{{effect.name}}</div>
                    <div class='edit-effect' data-effect-id='{{effect.uuid}}'>Edit</div>
                    <div class='delete-effect' data-effect-id='{{effect.uuid}}'>Delete</div>
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if inactiveEffects}}
        <div class='inactive-effects'>
            <div class='mcdmrpg-header'>Inactive Effects</div>
            {{#each inactiveEffects as |effect|}}
                <div class='effect'>
                    <div class='effect-name'>{{effect.name}}</div>
                    <div class='edit-effect' data-effect-id='{{effect.uuid}}'>Edit</div>
                    <div class='delete-effect' data-effect-id='{{effect.uuid}}'>Delete</div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>