<div class='monster-skills'>
    <span class='edit-skills' data-action='editSkills'><i class='fa-solid fa-gear'></i> Skills: [+1 Edge to Tests]</span>

    {{#each actorSkills as |skills|}}
        {{#with @key as |category|}}

            {{#each skills as |skill|}}
                <span class='roll-container'>
                    <a
                        class='roll-link roll-test'
                        data-skill='{{@key}}'
                        data-category='{{category}}'
                        data-actor-id='{{@root.actor.uuid}}'
                        data-edges='{{ifThen skill.proficient "1" "0"}}'
                        data-characteristic='{{skill.characteristic}}'
                    >
                        <span class='roll-icons'>
                            <i class='fa-solid fa-dice-d6 fa-lg'></i>
                            <i class='fa-solid fa-dice-d6'></i>
                        </span>
                        {{#if skill.isCustom}}
                            {{skill.label}}
                        {{else}}
                            {{localize (concat 'system.skills.' category '.' @key '.label')}}
                        {{/if}}
                        {{#if skill.proficient}} +1 {{/if}}
                    </a>
                </span>
            {{/each}}
        {{/with}}
    {{/each}}
</div>