<div class='tab details-tab {{ifThen (eq activeTabs.main "details") "active" ""}}' data-group='main' data-tab='details'>
    {{> 'systems/mcdmrpg/templates/documents/actor/partials/characteristics.hbs'}}
    <div class='main-details'>
        <div class='creation'>
            <div class='mcdmrpg-header'>Creation Details</div>
            <div class='ancestry' data-action='openACKSheet' data-type='ancestry'>
                <div class='label'>Ancestry</div>
                <div class='value'>{{actor.ancestry.name}}</div>
            </div>
            <div class='culture'>
                <div class='label'>Culture</div>
                <div class='value'>
                    <div class="environment">Environment - {{actor.culture.environment.name}}</div>
                    <div class="organization">Organization - {{actor.culture.organization.name}}</div>
                    <div class="upbringing">Upbringing - {{actor.culture.upbringing.name}}</div>
                </div>
            </div>
            <div class='class' data-action='openACKSheet' data-type='class'>
                <div class='label'>Class</div>
                <div class='value'>{{actor.class.name}}</div>
            </div>
            <div class='career'>
                <div class='label'>Career</div>
                <div class='value'>{{actor.career.name}}</div>
            </div>
            
            <div class='kit' data-action='openACKSheet' data-type='kit'>
                <div class='label'>Kit</div>
                <div class='value'>{{actor.kit.name}}</div>
            </div>
            
            <div class='event'>
                <div class='label'>Inciting Incident</div>
                <div class='value'>
                    {{#if isEditable}}
                        {{formInput fields.incitingIncident value=source.system.incitingIncident}}
                    {{else}}
                    {{{source.system.incitingIncident}}}
                    {{/if}}
                </div>
            </div>
            
        </div>
        <div class='size-and-speed'>
            <div class='mcdmrpg-header'>SIZE & SPEED</div>
            <div class='size'>
                <div class='label'>Size</div>
                <div class='label'>{{actor.system.size}}</div>
            </div>
            <div class='weigth'>
                <div class='label'>Weight</div>
                <div class='value'>{{actor.system.weight}}</div>
            </div>
            <div class='reach'>
                <div class='label'>Reach</div>
                <div class='value'>{{actor.system.reach}}</div>
            </div>
            <div class='speed'>
                <div class='label'>Speed</div>
                <div class='value'>{{actor.system.speed}}</div>
            </div>
            <div class='stability'>
                <div class='label'>Stability</div>
                <div class='value'>{{actor.system.stability}}</div>
            </div>
        </div>
        <div class='languages'>
            <div class='mcdmrpg-header'>
                Languages
                <span class="right-button" data-action="editLanguages"><i class="fa-solid fa-pencil"></i></span>
            </div>
            <div class='value'>
                {{#unless source.system.languages}}No known Languages{{/unless}}
                {{#each source.system.languages as |language|}}
                    {{localize (concat 'system.languages.' language '.label')}}{{#unless @last}}, {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="immunities">
            <div class="mcdmrpg-header">Immunities and Weakness</div>
            <div class="value">
                Immunities: 
                {{#each actor.system.immunities as |immunity|}}
                {{#if (ne immunity 0)}}{{@key}} {{immunity}}{{#unless @last}}, {{/unless}}{{/if}}
                {{/each}}
                <br>
                Weaknesses: 
                {{#each actor.system.weaknesses as |weakness|}}
                {{#if (ne weakness 0)}}{{@key}} {{weakness}}{{#unless @last}}, {{/unless}}{{/if}}
                {{/each}}
            </div>
        </div>
    </div>

</div>