<div class='sidebar'>
    <div class='stamina'>
        <div class='mcdmrpg-header'>{{fields.stamina.label}}</div>
        <div class='stamina-values'>
            <div class='current'>
                {{formInput fields.stamina.fields.current value=actor.system.stamina.current}}
            </div>
            <div class='other-stamina'>
                <div class='max'>
                    <div class='label'>{{fields.stamina.fields.max.label}} </div>
                    <div class='value'>{{actor.system.stamina.max}}</div>
                </div>
                <div class='winded'>
                    <div>{{localize 'system.conditions.winded.label'}}</div>
                    <div>{{actor.system.stamina.winded}}</div>
                </div>
            </div>
            <div class='temporary-stamina ds-property'>
                <div class='label'>Temp</div>
                <div class='value'>{{formInput fields.stamina.fields.temporary value=source.system.stamina.temporary}}</div>
            </div>
        </div>
    </div>

    <div class='recoveries'>
        <div class='mcdmrpg-header'>
            {{fields.recoveries.label}}
            {{#if (and (ne actor.system.recoveries.current 0) (ne actor.system.stamina.current actor.system.stamina.max))}}
                <span class='right-button' data-action='catchBreath' data-tooltip='Catch Breath'><i class='fa-solid fa-lungs'></i></span>
            {{/if}}
        </div>
        <div class='recoveries-values'>
            <div class='current'>
                <input type='number' name='system.recoveries.current' value='{{actor.system.recoveries.current}}' />
            </div>
            <div class='other-recoveries'>
                <div class='max'>
                    <div class='label'>{{localize fields.recoveries.fields.max.label}} </div>
                    <div class='value'>{{actor.system.recoveries.max}}</div>
                </div>
                <div class='healing'>
                    <div class='label'>{{localize 'system.sheets.actor.recoveries.value'}}</div>
                    <div class='value'>{{actor.system.recoveries.value}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class='hope-tokens'>
        <div class='mcdmrpg-header'>
            Hope Tokens
            {{#if (and (ne actor.system.hope 0) (ne actor.system.stamina.current actor.system.stamina.max))}}
                <span class='right-button' data-action='spendHope' data-tooltip='Spend Hope'><i class='fa-solid fa-hand-holding-medical'></i></span>
            {{/if}}

        </div>
        <div class='value'>{{formInput fields.hope value=source.system.hope}}</div>
    </div>

    <div class='victories'>
        <div class='mcdmrpg-header'>
            {{fields.victories.label}}
        </div>
        {{formInput fields.victories value=actor.system.victories}}
    </div>

    <div class='resources'>
        <div class='mcdmrpg-header'>
            {{localize fields.currentResources.label}}
            <span class='resources-info right-button' data-tooltip='{{actor.class.system.resourceGain}}' data-tooltip-direction='UP'>
                <i class='fa-solid fa-question'></i>
            </span>
        </div>
        {{#each actor.system.resources as |resource|}}
            <div class='resource{{ifThen (isNumber resource.max) " has-max" ""}}'>
                <div class='resource-current'>
                    <div class='resource-title label'>
                        <input style='display: none' name='system.currentResources.{{@index}}.name' value='{{resource.name}}' />{{resource.name}}
                    </div>
                    <div class='resource-value value'>
                        {{formInput
                            @root.fields.currentResources.element.fields.current
                            name=(concat 'system.currentResources.' @index '.current')
                            value=resource.current
                            max=resource.max
                            step=1
                        }}
                    </div>
                </div>
                {{#if (isNumber resource.max)}}
                    <div class='resource-max'>
                        <div class='resource-title label'>Max{{localize @root.actor.class.system.schema.fields.resources.element.fields.max.label}}</div>
                        <div class='resource-value value'>{{resource.max}}</div>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>