<div class='actor'>
    <div class='image'><img src='{{actor.img}}' /></div>
    <div class='name'>{{actor.name}}</div>
</div>

<div class='mcdmrpg-header'>{{ability.name}}</div>
<div class='ability'>
    <div class='keyword'>keywords -
        {{#each ability.system.keywords as |keyword|}}
            {{localize (concat 'system.items.ability.keywords.' keyword '.label')}}{{#unless @last}},{{/unless}}
        {{/each}}
    </div>
    <div class='distance'>distance - {{ability.system.distance}}</div>
    <div class='target'>target - {{ability.system.target}}</div>
</div>
<div class='dice-roll base-roll'>
    {{#if baseRoll.flavor}}
        <div class='dice-flavor'>{{baseRoll.flavor}}</div>
    {{/if}}
    <div class='dice-result'>
        <div class='dice-formula'>{{baseRoll.formula}}</div>
        {{{baseRoll.options.tooltip}}}
        {{#unless rolls}}
            <h4 class='dice-total {{ifThen @root.isCritical "success" ""}}'>
                <span class='dice-modifier'>{{ifThen (gte roll.modifier 0) '+' ''}}{{roll.modifier}}</span>
                {{baseRoll.total}}
                <span class='dice-tier'>
                    Tier
                    {{baseRoll.tier}}
                </span>

            </h4>
        {{/unless}}
    </div>
</div>
{{#if isCritical}}CRITICAL POWER ROLL - TAKE ANOTHER ACTION{{/if}}
{{#each rolls as |roll|}}
    <div class='target'>
        Target:
        {{roll.options.target.name}}
    </div>
    <div class='dice-roll'>
        {{#if roll.flavor}}
            <div class='dice-flavor'>{{roll.flavor}}</div>
        {{/if}}
        <div class='dice-result'>
            {{!-- <div class='dice-formula'>{{roll.formula}}</div> --}}
            {{!-- {{{roll.options.tooltip}}} --}}
            <h4 class='dice-total {{ifThen @root.isCritical "success" ""}}'>
                <span class='dice-modifier'>{{ifThen (gte roll.modifier 0) '+' ''}}{{roll.modifier}}</span>
                {{roll.total}}
                <span class='dice-tier'>
                    Tier
                    {{roll.tier}}
                </span>
            </h4>
        </div>
    </div>
{{/each}}