<div class='actor'>
    <div class='image'><img src='{{actor.img}}' /></div>
    <div class='name'>{{actor.name}}</div>
</div>


{{> 'systems/mcdmrpg/templates/chat-messages/ability-message.hbs' ability=ability isRoll=true}}

<hr>

<div class='dice-roll base-roll'>
    {{#if baseRoll.flavor}}
        <div class='dice-flavor'>{{baseRoll.flavor}}</div>
    {{/if}}
    <div class='dice-result'>
        <div class='dice-formula'>{{baseRoll.formula}}</div>
        {{{baseRoll.options.tooltip}}}
        {{#unless rolls}}
            <h4 class='dice-total {{ifThen @root.context.critical "success" ""}}'>
                <span class='dice-modifier'>{{ifThen (gte roll.modifier 0) '+' ''}}{{roll.modifier}}</span>
                {{baseRoll.total}}
                <span class='dice-tier'>
                    Tier
                    {{baseRoll.tier}}
                </span>

            </h4>
        {{/unless}}
    </div>
</div>
{{#if @root.context.critical}}CRITICAL POWER ROLL{{/if}}
{{#each rolls as |roll|}}
    <div class='target-roll' data-target-uuid="{{roll.options.target.uuid}}" data-target-id="{{roll.options.target.id}}" data-token-uuid="{{roll.options.token.uuid}}">
        <div class='target'>
            Target:
            {{roll.options.target.name}}
        </div>
        <div class='dice-roll'>
            {{#if roll.flavor}}
                <div class='dice-flavor'>{{roll.flavor}}</div>
            {{/if}}
            <div class='dice-result'>
                <h4 class='dice-total {{ifThen @root.context.critical "success" ""}}'>
                    <span class='dice-modifier'>{{ifThen (gte roll.modifier 0) '+' ''}}{{roll.modifier}}</span>
                    {{roll.total}}
                    <span class='dice-tier'>
                        Tier
                        {{roll.tier}}
                    </span>
                </h4>
            </div>
        </div>
        <div class="target-buttons" data-target-uuid="{{roll.options.target.uuid}}" data-target-id="{{roll.options.target.id}}" data-token-uuid="{{roll.options.token.uuid}}"></div>
    </div>
{{/each}}
<hr />
<div class='ability-info'>
    {{#if ability.system.keywords}}
        <div class='keywords'>
            {{localize 'system.items.ability.FIELDS.keywords.label'}}:
            {{#each ability.system.keywords as |keyword|}}
                {{localize (concat 'system.items.ability.keywords.' keyword '.label')}}{{#unless @last}},{{/unless}}
            {{/each}}
        </div>
    {{/if}}
    {{#if ability.system.time}}
        <div class="time">
            <i class="fa-solid fa-clock"></i> {{localize (concat 'system.items.ability.times.' ability.system.time '.label')}}
        </div>
    {{/if}}
    {{#if ability.system.distance}}
        <div class='distance'>
            <i class='fa-solid fa-ruler'></i> {{ability.system.distance}}
        </div>
    {{/if}}
    {{#if ability.system.target}}
        <div class='target'>
            <i class='fa-solid fa-bullseye'></i> {{ability.system.target}}
        </div>
    {{/if}}
    
</div>