<div class='dice-roll base-roll'>
    {{#if baseRoll.flavor}}
        <div class='dice-flavor'>{{baseRoll.flavor}}</div>
    {{/if}}
    <div class='dice-result'>
        <div class='dice-formula'>{{baseRoll.formula}}</div>
        {{{baseRoll.options.tooltip}}}
        {{#unless rolls}}
            {{> 'systems/mcdmrpg/templates/chat-messages/partials/dice-total.hbs' roll=baseRoll}}
        {{/unless}}
    </div>
</div>
{{#if @root.context.critical}}CRITICAL POWER ROLL{{/if}}
{{#each rolls as |roll|}}
    <div class='target-roll' data-target-uuid="{{roll.options.target.uuid}}" data-target-id="{{roll.options.target.id}}" data-token-uuid="{{roll.options.token.uuid}}">
        <div class='target'>
            Target:
            {{roll.options.target.name}}
        </div>
        <div class='dice-roll'>
            {{#if roll.flavor}}
                <div class='dice-flavor'>{{roll.flavor}}</div>
            {{/if}}
            <div class='dice-result'>
                {{> 'systems/mcdmrpg/templates/chat-messages/partials/dice-total.hbs' roll=roll}}
            </div>
        </div>
        <div class="target-buttons" data-target-uuid="{{roll.options.target.uuid}}" data-target-id="{{roll.options.target.id}}" data-token-uuid="{{roll.options.token.uuid}}"></div>
    </div>
{{/each}}