<div class='mcdmrpg-header'>{{title}}</div>
<div class='dice-roll'>
    {{#if flavor}}
        <div class='dice-flavor'>{{flavor}}</div>
    {{/if}}
    {{#if roll.isCritical}}
        <div class='isCritical'>CRITICAL HIT - TAKE AN EXTRA ACTION</div>
    {{/if}}
    <div class='dice-result'>
        <div class='dice-formula'>{{roll.formula}}</div>
        {{{tooltip}}}
        <h4 class='dice-total {{ifThen roll.isCritical "success" ""}}'>{{roll.total}}</h4>
    </div>
</div>
{{#if target}}
    <div class='target'>
        <button data-target-id='{{target.uuid}}' data-damage-amount='{{roll.total}}'>
            {{localize 'system.chat.damage.button.label' name=target.actor.name}}
        </button>
    </div>
{{/if}}