<div class='draw-steel-header'>{{title}}</div>
{{#if tn}}
    <div class='tn {{ifThen (gte roll.total tn) "roll-success" "roll-failure"}}'>
        TN:
        {{tn}}
        -
        {{ifThen (gte roll.total tn) 'Success' 'Faliure'}}
    </div>
{{/if}}
<div class='dice-roll'>
    <div class='dice-result'>
        <div class='dice-formula'>{{roll.formula}}</div>
        {{{tooltip}}}
        <h4 class='dice-total'>{{roll.total}}</h4>
    </div>
</div>