<form>
    <div class='header'>
        <div class='name'>
            <input type='text' value='{{name}}' name='name' />
        </div>
        <div class='role-and-level'>
            <div class='role'>
                <select name="system.role">
                    {{#each monsterRoles as |monsterRole|}}
                        <option value="{{monsterRole}}"{{#if (eq monsterRole ../role)}} selected{{/if}}>{{localize (concat 'monsterRoles.' monsterRole '.label')}}</option>
                    {{/each}}
                </select>
            </div>
            <div class='level'>Level: <input type='text' name='system.level' value='{{level}}' /></div>
        </div>
        <div class='health-size-and-chance-hit'>
            <div class='health'>
                <div class='current-health property'>
                    <div class='label'>Health</div>
                    <div class='value'>
                        <input type='text' name='system.hp.current' value='{{hp.current}}' />
                    </div>
                </div>
                <div class='other-health'>
                    max:
                    <input type='text' name='system.hp.max' value='{{hp.max}}' />
                    bloodied
                    {{hp.bloodied}}
                </div>
            </div>
            <div class='size-and-chance-hit'>
                <div class='size property'>
                    <div class='label'>Size</div>
                    <div class='value'>
                        <div class='width'><input type='text' name='system.size.width' value='{{size.width}}' /></div>
                        <div class='separator'>x</div>
                        <div class='length'><input type='text' name='system.size.length' value='{{size.length}}' /></div>
                    </div>
                </div>
                <div class='speed property'>
                    <div class='label'>Speed</div>
                    <div class='value'>
                        <input type='text' name='system.speed' value='{{speed}}' />
                    </div>
                </div>
                <div class='weight property'>
                    <div class='label'>Weight</div>
                    <div class='value'>
                        <input type='text' name='system.size.weight' value='{{size.weight}}' />
                    </div>
                </div>
                <div class='reach property'>
                    <div class='label'>Reach</div>
                    <div class='value'>
                        <input type='text' name='system.reach' value='{{reach}}' />
                    </div>
                </div>
                <div class='bonus-damage property'>
                    <div class='label'>Bonus Damage</div>
                    <div class='value'><input type='text' name='system.bonusDamage' value='{{bonusDamage}}' /></div>
                </div>
                <div class='chance-hit property'>
                    <div class='label'>Chance Hit</div>
                    <div class='value'>{{{chanceHit}}}</div>
                </div>
                <div class='grapple-tn property'>
                    <div class="label">
                        <div class="grapple-knockback">
                            <div class="grapple">Grapple</div>
                            <div class="knockback">Knockback</div>
                        </div>
                        <div class="tn-text">TN</div>
                    </div>
                    <div class="value">{{grappleTN}}</div>
                </div>
            </div>
        </div>

        <div class='characteristics'>
            {{#each characteristics as |characteristic|}}
                <div class='characteristic'>
                    <div class='characteristic-label'>{{localize (concat 'characteristics.' @key '.abbreviation')}}</div>
                    <div class='characteristic-value'>
                        <input type='text' name='system.characteristics.{{@key}}' value='{{characteristic}}' />
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class='monster-body'>
        <div class="monster-abilities actor-abilities">
            <div class="mcdmrpg-header">Abilities</div>
            <div class="abilities-list">
                {{> 'systems/mcdmrpg/module/documents/actors/base/sheet/partials/abilities.hbs'}}
            </div>
        </div>
    </div>
</form>