<form>
    <div class='header'>
        <div class='name'>
            <input type='text' value='{{name}}' name='name' />
        </div>
        <div class='group-and-level'>
            <div class='group'>Group: <input type='text' name='system.group' value='{{group}}' /></div>
            <div class='level'>Level: <input type='text' name='system.level' value='{{level}}' /></div>
        </div>
        <div class='health-size-and-chance-hit'>
            <div class='health'>
                <div class='current-health'>
                    <div class='property'>Health</div>
                    <div class='value'>
                        <input type='text' name='system.hp.current' value='{{hp.current}}' />
                    </div>
                </div>
                <div class='other-health'>
                    max:
                    <input type='text' name='system.hp.max' value='{{hp.max}}' />
                    bloodied
                    {{hp.bloodied}}
                </div>
            </div>
            <div class='size-and-chance-hit'>
                <div class='size'>
                    <div class='property'>Size</div>
                    <div class='value'>
                        <div class='width'><input type='text' name='system.size.width' value='{{size.width}}' /></div>
                        <div class='separator'>x</div>
                        <div class='length'><input type='text' name='system.size.length' value='{{size.length}}' /></div>
                    </div>
                </div>
                <div class='speed'>
                    <div class='property'>Speed</div>
                    <div class='value'>
                        <input type='text' name='system.speed' value='{{speed}}' />
                    </div>
                    Speed:
                </div>
                <div class='weight'>
                    <div class='property'>Weight</div>
                    <div class='value'>
                        <input type='text' name='system.size.weight' value='{{size.weight}}' />
                    </div>
                </div>
                <div class='reach'>
                    <div class='property'>Reach</div>
                    <div class='value'>
                        <input type='text' name='system.reach' value='{{reach}}' />
                    </div>
                </div>
                <div class='chance-hit'>
                    <div class='property'>Chance Hit</div>
                    <div class='value'>{{{chanceHit}}}</div>
                </div>
                <div class='grapple-tn'>Grapple/Knockback TN{{grappleTN}}</div>
            </div>
        </div>

        <div class='characteristics'>
            {{#each characteristics as |characteristic|}}
                <div class='characteristic'>
                    <div class='characteristic-label'>{{localize (concat 'characteristics.' @key '.abbreviation')}}</div>
                    <div class='characteristic-value'>
                        <input type='text' name='system.characteristics.{{@key}}' value='{{characteristic}}' />
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class='monster-body'>
        {{#each abilities as |abilityGroup|}}
            {{#if abilityGroup}}
                <div class='ability-group'>
                    <div class='ability-group-header'>{{@key}}</div>
                </div>
                <div class='ability-list'>
                    {{#each abilityGroup as |ability|}}
                        <div class='ability'>
                            {{ability.name}}
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        {{/each}}
    </div>
</form>