<form>
    <div class='header'>
            <div class="portrait">
                <img src="{{img}}" data-tooltip="{{name}}" data-edit="img" />
            </div>
        
        <div class='name'>
            <input type='text' value='{{name}}' name='name' />
        </div>
        <div class='role-and-level'>
            <div class='role'>
                <select name="system.role" class="{{role}}">
                    {{#each monsterRoles as |monsterRole|}}
                        <option value="{{monsterRole}}"{{#if (eq monsterRole ../role)}} selected{{/if}}>{{localize (concat 'monsterRoles.' monsterRole '.label')}}</option>
                    {{/each}}
                </select>
            </div>
            <div class='level property'>
                <div class="label">LVL</div>
                <div class="value"><input type='text' name='system.level' value='{{level}}' /></div>
            </div>
        </div>
        <div class='health-size-and-chance-hit'>
            <div class='health'>
                <div class='current-health'>
                    <div class='label'>Health</div>
                    <div class='value'>
                        <input type='text' name='system.hp.current' value='{{hp.current}}' />
                    </div>
                </div>
                <div class='other-health'>
                    <div class="bloodied">
                        <div class="bloodied-icon"><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></div>
                        <div class="bloodied-value">{{hp.bloodied}}</div>
                    </div>
                    <div class="max-health">Max:
                    <input type='text' name='system.hp.max' value='{{hp.max}}' /></div>
                    
                </div>
            </div>
            <div class='size-and-chance-hit'>
                <div class='size property'>
                    <div class='label'>Size</div>
                    <div class='value'>
                        <div class='width'><input type='text' name='system.size.width' value='{{size.width}}' /></div>
                        <div class='separator'>x</div>
                        <div class='length'><input type='text' name='system.size.length' value='{{size.length}}' /></div>
                    </div>
                </div>
                <div class='speed property'>
                    <div class='label'>Speed</div>
                    <div class='value'>
                        <input type='text' name='system.speed' value='{{speed}}' />
                    </div>
                </div>
                <div class='weight property'>
                    <div class='label'>Weight</div>
                    <div class='value'>
                        <input type='text' name='system.size.weight' value='{{size.weight}}' />
                    </div>
                </div>
                <div class='reach property'>
                    <div class='label'>Reach</div>
                    <div class='value'>
                        <input type='text' name='system.reach' value='{{reach}}' />
                    </div>
                </div>
                <div class='bonus-damage property'>
                    <div class='label'>Bonus Damage</div>
                    <div class='value'><input type='text' name='system.bonusDamage' value='{{bonusDamage}}' /></div>
                </div>
                <div class='bonus-tn property'>
                    <div class='label'>Bonus TN</div>
                    <div class='value'><input type='text' name='system.bonusTN' value='{{bonusTN}}' /></div>
                </div>
                <div class='chance-hit property'>
                    <div class='label'>Chance Hit</div>
                    <div class='value'>{{{chanceHit}}}</div>
                </div>
                <div class='grapple-tn property'>
                    <div class="label">
                        <div class="grapple-knockback">
                            <div class="grapple">Grapple</div>
                            <div class="knockback">Knockback</div>
                        </div>
                        <div class="tn-text">TN</div>
                    </div>
                    <div class="value">{{grappleTN}}</div>
                </div>
            </div>
        </div>

        <div class='characteristics'>
            {{#each characteristics as |characteristic|}}
                <div class='characteristic'>
                    <div class='label'>{{localize (concat 'mcdmrpg.characteristics.' @key '.abbreviation')}}</div>
                    <div class='value'>
                        <input type='text' name='system.characteristics.{{@key}}' value='{{characteristic}}' />
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class='monster-body'>
        <div class="monster-skills">
            <span class="edit-skills"><i class="fa-solid fa-gear"></i> Skills: [+1 Boon to Tests]</span>
            {{#each proficientSkills as |skill|}}
                {{#if (or (eq @key 'craft') (eq @key 'knowledge'))}}
                    {{#each skill as |subskill|}}
                        <span class="skill-label">
                            <a class="roll-link roll-test" data-skill="{{@../key}}" data-subskill="{{subskill.subskill}}" data-actor-id="{{@root.actor.uuid}}"{{#if subskill.proficient}} data-boons="1"{{/if}}>
                                <i class="fa-solid fa-dice-d6"></i> {{localize (concat 'mcdmrpg.skills.' @../key '.label')}} ({{subskill.subskill}})
                            </a>
                            {{#unless @last}},{{/unless}}
                        </span>
                    {{/each}}
                {{else}}
                <span class="skill-label">
                    <a class="roll-link roll-test" data-skill="{{@key}}" data-actor-id="{{@root.actor.uuid}}"{{#if skill.proficient}} data-boons="1"{{/if}}>
                        <i class="fa-solid fa-dice-d6"></i> {{localize (concat 'mcdmrpg.skills.' @key '.label')}}
                    </a>
                    {{#unless @last}},{{/unless}}
                </span>
                {{/if}}
            {{/each}}
        </div>
        
        <div class="monster-abilities actor-abilities">
            <div class="mcdmrpg-header">Abilities <span class="add-ability">Add Ability</span></div>
            <div class="abilities-filter">
                {{> 'systems/mcdmrpg/module/documents/actors/base/sheet/partials/abilities-filter.hbs'}}
            </div>
            <div class="abilities-list">
                {{> 'systems/mcdmrpg/module/documents/actors/base/sheet/partials/abilities.hbs'}}
            </div>
        </div>
    </div>
</form>