<form>
    <div class='header'>
        <div class='name'>
            <input type='text' value='{{name}}' name='name' />
        </div>
        <div class='group-and-level'>
            <div class='group'>Group: <input type='text' name='system.group' value='{{group}}' /></div>
            <div class='level'>Level: <input type='text' name='system.level' value='{{level}}' /></div>
        </div>
        <div class='health-size-and-chance-hit'>
            <div class='health'>
                <div class='current-health'>
                    <div class='property'>Health</div>
                    <div class='value'>
                        <input type='text' name='system.hp.current' value='{{hp.current}}' />
                    </div>
                </div>
                <div class='other-health'>
                    max:
                    <input type='text' name='system.hp.max' value='{{hp.max}}' />
                    bloodied
                    {{hp.bloodied}}
                </div>
            </div>
            <div class='size-and-chance-hit'>
                <div class='size'>
                    <div class='property'>Size</div>
                    <div class='value'>
                        <div class='width'><input type='text' name='system.size.width' value='{{size.width}}' /></div>
                        <div class='separator'>x</div>
                        <div class='length'><input type='text' name='system.size.length' value='{{size.length}}' /></div>
                    </div>
                </div>
                <div class='speed'>
                    <div class='property'>Speed</div>
                    <div class='value'>
                        <input type='text' name='system.speed' value='{{speed}}' />
                    </div>
                    Speed:
                </div>
                <div class='weight'>
                    <div class='property'>Weight</div>
                    <div class='value'>
                        <input type='text' name='system.size.weight' value='{{size.weight}}' />
                    </div>
                </div>
                <div class='reach'>
                    <div class='property'>Reach</div>
                    <div class='value'>
                        <input type='text' name='system.reach' value='{{reach}}' />
                    </div>
                </div>
                <div class='chance-hit'>
                    <div class='property'>Chance Hit</div>
                    <div class='value'>{{{chanceHit}}}</div>
                </div>
                <div class='grapple-tn'>Grapple/Knockback TN{{grappleTN}}</div>
                <div class='bonus-damage'>
                    <div class='property'>
                        Bonus Damage
                    </div>
                    <div class='value'><input type='text' name='system.bonusDamage' value='{{bonusDamage}}' /></div>
                </div>
            </div>
        </div>

        <div class='characteristics'>
            {{#each characteristics as |characteristic|}}
                <div class='characteristic'>
                    <div class='characteristic-label'>{{localize (concat 'characteristics.' @key '.abbreviation')}}</div>
                    <div class='characteristic-value'>
                        <input type='text' name='system.characteristics.{{@key}}' value='{{characteristic}}' />
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class='monster-body'>
        {{#each abilities as |abilityGroup|}}
            {{#if abilityGroup}}
                <div class='ability-group'>
                    <div class='ability-group-header {{@key}}'>{{localize (concat 'abilityTypes.' @key '.label')}}</div>

                    <div class='ability-list'>
                        {{#each abilityGroup as |ability|}}
                            <div class='ability'>
                                <div class='property'>
                                    <div class='label'>Name</div>
                                    <div class='value'>{{ability.name}}</div>
                                </div>
                                <div class='property'>
                                    <div class='label'>Keywords</div>
                                    <div class='value'>
                                        {{#each ability.system.keywords as |keyword|}}
                                            {{localize (concat 'keywords.' keyword '.label')}}{{#unless @last}}, {{/unless}}
                                        {{/each}}
                                    </div>
                                </div>
                                <div class='property'>
                                    <div class='label'>Distance</div>
                                    <div class='value'>{{ability.system.distance}}</div>
                                </div>
                                <div class='property'>
                                    <div class='label'>Target</div>
                                    <div class='value'>{{ability.system.target}}</div>
                                </div>
                                <div class='property'>
                                    <div class='label'>Damage</div>
                                    <div class='value'>{{{ability.system.enrichedDamage}}}</div>
                                </div>
                                <div class='property'>
                                    <div class='label'>Effect</div>
                                    <div class='value'>{{{ability.system.enrichedEffect}}}</div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</form>