<div class='class-details'>
    <div class='class-description'>
        <fieldset>
            <legend>{{localize 'system.items.class.FIELDS.description.label'}}</legend>
            <div>{{editor source.system.description target='system.description' editable=true collaborate=true button=true engine='prosemirror'}}</div>
        </fieldset>
    </div>
    <div class='class-right-column'>
        <div class='class-victory-benefits'>
            <fieldset>
                <legend>{{localize 'system.items.class.FIELDS.victoryBenefits.label'}}</legend>
                <div>{{{editor
                        source.system.victoryBenefits
                        target='system.victoryBenefits'
                        editable=true
                        collaborate=true
                        button=true
                        engine='prosemirror'
                    }}}</div>
            </fieldset>
        </div>

        <div class='class-resource-gain'>
            <fieldset>
                <legend>{{localize 'system.items.class.FIELDS.resourceGain.label'}}</legend>
                <div>{{{editor source.system.resourceGain target='system.resourceGain' editable=true collaborate=true button=true engine='prosemirror'}}}</div>
            </fieldset>
        </div>
    </div>
</div>