<div class='class-details tab {{ifThen (eq activeTabs.main "details") "active" ""}}' data-group='main' data-tab='details'>
    <div class='class-left-column'>
        <div class='class-info'>
            <fieldset>
                <legend>{{localize 'system.sheets.items.tabs.details'}}</legend>
                <div class='starting-characteristics'>
                    Starting characteristics
                    {{#each source.system.characteristics.starting as |startingCharacteristic|}}
                        <div class='starting-characteristic'>
                            {{formInput
                                @root.fields.characteristics.fields.starting.element.fields.characteristic
                                name=(concat 'system.characteristics.starting.' @index '.characteristic')
                                value=startingCharacteristic.characteristic
                            }}
                            {{formInput
                                @root.fields.characteristics.fields.starting.element.fields.value
                                name=(concat 'system.characteristics.starting.' @index '.value')
                                value=startingCharacteristic.value
                            }}
                        </div>

                    {{/each}}
                </div>
                <div class='characteristic-choices'>
                    Characteristic Arrays
                    {{#each source.system.characteristics.arrays as |array|}}
                        <div class='array'>
                            {{#with @index as |topIndex|}}
                                {{#each array.array as |number|}}
                                    {{formInput
                                        @root.fields.characteristics.fields.arrays.element.fields.array.element
                                        name=(concat 'system.characteristics.arrays.' @topIndex '.array.' @index)
                                        value=number
                                    }}
                                    {{!-- {{formInput @root.fields.characteristics.fields.arrays.element.fields.}} --}}
                                {{/each}}
                            {{/with}}
                        </div>
                    {{/each}}
                </div>
                <div class='stamina'>
                    {{formField fields.stamina.fields.starting name='system.stamina.starting' value=source.system.stamina.starting}}
                    {{formField fields.stamina.fields.level name='system.stamina.level' value=source.system.stamina.level}}
                    {{formField fields.stamina.fields.recoveries name='system.stamina.recoveries' value=source.system.stamina.recoveries}}
                </div>
            </fieldset>
        </div>
    </div>
    <div class='class-right-column'>

        <div class='class-description'>
            <fieldset>
                <legend>{{localize 'system.items.class.FIELDS.description.label'}}</legend>

                {{formInput
                    fields.description
                    value=source.system.description
                    classes='class-description'
                    target='system.description'
                    localize=true
                    toggled=true
                    enriched=enriched.description
                }}
            </fieldset>
        </div>

        <div class='class-resource-gain'>
            <fieldset>
                <legend>{{localize 'system.items.class.FIELDS.resourceGain.label'}}</legend>

                {{formInput
                    fields.resourceGain
                    value=source.system.resourceGain
                    classes='class-resource-gain'
                    target='system.resourceGain'
                    localize=true
                    toggled=true
                    enriched=enriched.resourceGain
                    editable=false
                }}
            </fieldset>
        </div>
    </div>
</div>