<div class='sheet-tabs tabs' data-group='main'>
    {{#if (eq actor.type 'hero')}}
        <a class='nav-tab {{ifThen (eq activeTabs.main "details") "active" ""}}' data-action='tab' data-group='main' data-tab='details'>
            {{localize 'system.sheets.actor.tabs.details'}}
        </a>
    {{/if}}
    <a class='nav-tab {{ifThen (eq activeTabs.main "abilities") "active" ""}}' data-action='tab' data-group='main' data-tab='abilities'>
        {{localize 'system.items.ability.label.plural'}}
    </a>
    <a class='nav-tab {{ifThen (eq activeTabs.main "features") "active" ""}}' data-action='tab' data-group='main' data-tab='features'>
        {{localize 'system.items.feature.label.plural'}}
    </a>
    <a class='nav-tab {{ifThen (eq activeTabs.main "items") "active" ""}}' data-action='tab' data-group='main' data-tab='items'>
        {{localize 'system.sheets.actor.tabs.items'}}
    </a>
    <a class='nav-tab {{ifThen (eq activeTabs.main "skills") "active" ""}}' data-action='tab' data-group='main' data-tab='skills'>
        {{localize 'system.sheets.actor.tabs.skills'}}
    </a>
    <a class='nav-tab {{ifThen (eq activeTabs.main "notes") "active" ""}}' data-action='tab' data-group='main' data-tab='notes'>
        {{localize 'system.sheets.actor.tabs.notes'}}
    </a>
    <a class='nav-tab {{ifThen (eq activeTabs.main "effects") "active" ""}}' data-action='tab' data-group='main' data-tab='effects'>
        {{localize 'system.general.effect.plural'}}
    </a>
    {{#if (eq actor.type 'monster')}}
        <a class='nav-tab {{ifThen (eq activeTabs.main "negotiation") "active" ""}}' data-action='tab' data-group='main' data-tab='negotiation'>
            {{localize 'system.actors.monster.negotiation.label'}}
        </a>
    {{/if}}
</div>