{{#each abilities as |abilityGroup|}}
    {{#if abilityGroup}}
        {{#each abilityGroup as |ability|}}
            {{#if ability.show}}
                <div class='ability {{@../key}}-ability' data-ability-type='{{@../key}}' data-ability-id="{{ability._id}}">
                    <div class='ability-group-label'>{{localize (concat 'mcdmrpg.abilityTypes.' @../key '.label')}}</div>
                    <div class='ability-header'>
                        <div class="ability-name">{{ability.name}}</div>
                        <div class="ability-cost">{{ability.system.cost}}</div>
                        <div class="ability-edit"><i class="fa-solid fa-pencil" data-tooltip-direction="RIGHT" data-tooltip="Edit Ability"></i></div>
                        <div class="ability-delete"><i class="fa-solid fa-trash" data-tooltip-direction="RIGHT" data-tooltip="Delete Ability"></i></div>
                    </div>
                    <div class='property ability-keywords'>
                        <div class='label'>Keywords</div>
                        <div class='value'>
                            {{#each ability.system.keywords as |keyword|}}
                                {{localize (concat 'mcdmrpg.keywords.' keyword '.label')}}{{#unless @last}}, {{/unless}}
                            {{/each}}
                            {{#unless ability.system.keywords}} &mdash; {{/unless}}
                        </div>
                    </div>
                    {{#if ability.system.trigger}}
                    <div class='property ability-trigger'>
                        <div class='label'>Trigger</div>
                        <div class='value'>{{ability.system.trigger}}</div>
                    </div>
                    {{/if}}
                    {{#if ability.system.time}}
                    <div class='property ability-time'>
                        <div class='label'>Time</div>
                        <div class='value'>{{localize (concat 'mcdmrpg.abilityTimes.' ability.system.time '.label')}}</div>
                    </div>
                    {{/if}}
                    {{#if ability.system.distance}}
                    <div class='property ability-distance'>
                        <div class='label'>Distance</div>
                        <div class='value'>{{ability.system.distance}}</div>
                    </div>
                    {{/if}}
                    {{#if ability.system.target}}
                    <div class='property ability-target'>
                        <div class='label'>Target</div>
                        <div class='value'>{{ability.system.target}}</div>
                    </div>
                    {{/if}}
                    {{#if ability.system.damage.doesDamage}}
                    <div class='property ability-damage'>
                        <div class='label'><i class="fa-duotone fa-arrow-pointer" style="--fa-secondary-color: #511f1f; --fa-secondary-opacity: 0;"></i>Damage</div>
                        <div class='value'>{{{ability.system.enrichedDamage}}}</div>
                    </div>
                    {{/if}}
                    {{#if ability.system.effect}}
                    <div class='property ability-effect'>
                        <div class='label'>Effect</div>
                        <div class='value'>{{{ability.system.enrichedEffect}}}</div>
                    </div>
                    {{/if}}
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
{{/each}}