<div class='mcdmrpg-header'>{{localize 'system.conditions.label'}}</div>
<div class='conditions'>
    {{#each conditions as |condition|}}
        <div class='condition'>
            <div>{{localize condition.name}}</div>
            <div class='toggle-condition' data-condition-id='{{condition.id}}'>
                {{#if (or (eq condition.id 'ongoingdamage') (eq condition.id 'taunted') (eq condition.id 'frightened'))}}
                    <i class='fa-regular fa-pencil' data-tooltip='{{localize "system.sheets.actor.conditions.edit" condition=(localize condition.name)}}'></i>
                {{else}}
                    {{#if (includes @root.actor.effects condition._id)}}
                        <i
                            class='fa-solid fa-toggle-on'
                            data-tooltip='{{localize "system.sheets.actor.conditions.toggle" condition=(localize condition.name)}}'
                        ></i>
                    {{else}}
                        <i
                            class='fa-solid fa-toggle-off'
                            data-tooltip='{{localize "system.sheets.actor.conditions.toggle" condition=(localize condition.name)}}'
                        ></i>
                    {{/if}}
                {{/if}}
            </div>
            <div class='condition-values'>
                {{#if (eq condition.id 'ongoingdamage')}}
                    {{#each @root.actor.system.ongoingDamage as |value|}}
                        {{#unless (eq value 0)}}
                            {{@key}}
                            -
                            {{value}}
                        {{/unless}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>