<div class='sidebar'>
    <button data-action='toggleMode'>Change Mode {{ifThen isEditable 'edit' 'view'}}</button>
    <div class='stamina'>
        <div class='mcdmrpg-header'>{{fields.stamina.label}}</div>
        <div class='stamina-values'>
            <div class='current'>
                {{formInput fields.stamina.fields.current value=actor.system.stamina.current}}
            </div>
            <div class='other-stamina'>
                <div class='max'>
                    <div class='label'>{{fields.stamina.fields.max.label}} </div>
                    <div class='value'>{{formInput fields.stamina.fields.max value=actor.system.stamina.max}}</div>
                </div>
                <div class='winded'>
                    <div>{{localize 'system.conditions.winded.label'}}</div>
                    <div>{{actor.system.stamina.winded}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class='victories'>
        <div class='mcdmrpg-header'>
            {{fields.victories.label}}
            <span class='resources-info right-button' data-tooltip='{{actor.class.system.victoryBenefits}}' data-tooltip-direction='UP'>
                <i class='fa-solid fa-question'></i>
            </span>
        </div>
        {{formInput fields.victories value=actor.system.victories}}
    </div>

    <div class='recoveries'>
        <div class='mcdmrpg-header'>{{fields.recoveries.label}}</div>
        <div class='recoveries-values'>
            <div class='current'>
                <input type='number' name='system.recoveries.current' value='{{actor.system.recoveries.current}}' />
            </div>
            <div class='other-recoveries'>
                <div class='max'>
                    <div class='label'>{{localize fields.recoveries.fields.max.label}} </div>
                    <div class='value'>{{formInput fields.recoveries.fields.max value=actor.system.recoveries.max}}</div>
                </div>
                <div class='healing'>
                    <div class='label'>{{localize 'system.conditions.winded.label'}}</div>
                    <div class='value'>{{actor.system.stamina.healing}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class='resources'>
        <div class='mcdmrpg-header'>
            {{localize fields.currentResources.label}}
            <span class='resources-info right-button' data-tooltip='{{actor.class.system.resourceGain}}' data-tooltip-direction='UP'>
                <i class='fa-solid fa-question'></i>
            </span>
        </div>
        {{#each actor.system.resources as |resource|}}
            <div class='resource{{ifThen (isNumber resource.max) " has-max" ""}}'>
                <div class='resource-current'>
                    <div class='resource-title label'>
                        <input style='display: none' name='system.currentResources.{{@index}}.name' value='{{resource.name}}' />{{resource.name}}
                    </div>
                    <div class='resource-value value'>
                        {{formInput
                            @root.fields.currentResources.element.fields.current
                            name=(concat 'system.currentResources.' @index '.current')
                            value=resource.current
                            max=resource.max
                            step=1
                        }}
                    </div>
                </div>
                {{#if (isNumber resource.max)}}
                    <div class='resource-max'>
                        <div class='resource-title label'>Max{{localize @root.actor.class.system.schema.fields.resources.element.fields.max.label}}</div>
                        <div class='resource-value value'>{{resource.max}}</div>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>