{{#each actor.abilities as |abilityGroup|}}
    {{#if abilityGroup}}
        {{#with @key as |group|}}
            {{#each abilityGroup as |ability|}}
                <div class='ability {{group}}-ability' data-ability-group='{{group}}' data-ability-id='{{ability._id}}'>
                    <div class='ability-group-label'>{{localize (concat 'system.items.ability.categories.' group '.label')}}</div>
                    <div class='ability-header'>
                        <div class='ability-name' data-tooltip='{{ability.name}}' data-tooltip-direction='UP'>{{ability.name}}</div>
                        <div class='ability-cost'>{{ability.system.cost}}</div>
                        <div class='ability-roll' data-action='rollAbility' data-action='Roll Ability'>
                            {{#if ability.isRollable}}
                                <span class='roll-icons'>
                                    <i class='fa-solid fa-dice-d10 fa-lg'></i>
                                    <i class='fa-solid fa-dice-d10'></i>
                                </span>
                            {{/if}}
                        </div>
                        <div class='ability-to-chat' data-action='postAbility' data-tooltip='Post to Chat'><i class='fa-solid fa-comment'></i></div>
                        <div class='ability-edit' data-action='editAbility' data-ability-id='{{ability._id}}'>
                            <i class='fa-solid fa-pencil' data-tooltip-direction='RIGHT' data-tooltip='{{localize "system.sheets.actor.abilities.edit"}}'></i>
                        </div>
                        <div class='ability-delete delete-button' data-action='deleteAbility' data-ability-id='{{ability._id}}'>
                            <i class='fa-solid fa-trash' data-tooltip-direction='RIGHT' data-tooltip='{{localize "system.sheets.actor.abilities.delete"}}'></i>
                        </div>
                    </div>
                    <div class='property ability-keywords'>
                        <div class='label'>{{localize 'system.items.ability.FIELDS.keywords.label'}}</div>
                        <div class='value'>
                            {{#each ability.system.keywords as |keyword|}}
                                {{#if keyword}}
                                    {{localize (concat 'system.items.ability.keywords.' keyword '.label')}}{{#unless @last}}, {{/unless}}
                                {{/if}}
                            {{/each}}
                            {{#unless ability.system.keywords}} &mdash; {{/unless}}
                        </div>
                    </div>
                    {{#if ability.system.trigger}}
                        <div class='property ability-trigger'>
                            <div class='label'>{{localize 'system.items.ability.FIELDS.trigger.label'}}</div>
                            <div class='value'>{{ability.system.trigger}}</div>
                        </div>
                    {{/if}}
                    {{#if ability.system.type}}
                        <div class='property ability-time'>
                            <div class='label'>{{localize 'system.items.ability.FIELDS.type.label'}}</div>
                            <div class='value'>{{localize (concat 'system.items.ability.types.' ability.system.type '.label')}}</div>
                        </div>
                    {{/if}}
                    {{#if ability.system.distance}}
                        <div class='property ability-distance'>
                            <div class='label'>{{localize 'system.items.ability.FIELDS.distance.label'}}</div>
                            <div class='value'>{{ability.distance}}</div>
                        </div>
                    {{/if}}
                    {{#if ability.system.target}}
                        <div class='property ability-target'>
                            <div class='label'>{{localize 'system.items.ability.FIELDS.target.label'}}</div>
                            <div class='value'>{{ability.system.target}}</div>
                        </div>
                    {{/if}}
                    {{#if ability.power.hasRoll}}
                        <div class='power-roll'>
                            {{ifThen (includes ability.system.keywords 'resistance') 'Resistance' 'Power'}}
                            Roll +
                            {{localize (concat 'system.characteristics.' ability.power.characteristic '.label')}}
                        </div>
                        <div class='tier-one property ability-tiers'>
                            <div class='label'>- 11</div>
                            <div class='value'>{{{ability.tierText.one}}}</div>
                        </div>
                        <div class='tier-two property ability-tiers'>
                            <div class='label'>12 - 16</div>
                            <div class='value'>{{{ability.tierText.two}}}</div>
                        </div>
                        <div class='tier-three property ability-tiers'>
                            <div class='label'>17 +</div>
                            <div class='value'>{{{ability.tierText.three}}}</div>
                        </div>
                    {{/if}}
                    {{#if ability.system.effect}}
                        <div class='property ability-effect'>
                            <div class='label'>{{localize 'system.items.ability.FIELDS.effect.label'}}</div>
                            <div class='value'>{{{ability.system.enrichedEffect}}}</div>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        {{/with}}
    {{/if}}
{{/each}}