<li
    class='combatant actor directory-item flexrow {{combatant.css}} {{ifThen (gt combatant.system.turns.left 0) "" "turn-completed"}}'
    data-combatant-id='{{combatant.id}}'
>
    <img class='token-image' src='{{combatant.img}}' alt='{{combatant.name}}' />
    <div class='token-name flexcol'>
        <h4>{{combatant.name}}</h4>
        <div class='combatant-controls flexrow'>
            {{#if @root.user.isGM}}
                <a
                    class='combatant-control {{ifThen combatant.hidden "active" ""}}'
                    aria-label='{{localize "COMBAT.ToggleVis"}}'
                    role='button'
                    data-tooltip='COMBAT.ToggleVis'
                    data-control='toggleHidden'
                >
                    <i class='fas fa-eye-slash'></i>
                </a>
                <a
                    class='combatant-control {{ifThen combatant.isDefeated "active" ""}}'
                    aria-label='{{localize "COMBAT.ToggleDead"}}'
                    role='button'
                    data-tooltip='COMBAT.ToggleDead'
                    data-control='toggleDefeated'
                >
                    <i class='fas fa-skull'></i>
                </a>
            {{/if}}
            {{#if combatant.canPing}}
                <a
                    class='combatant-control'
                    aria-label='{{localize "COMBAT.PingCombatant"}}'
                    role='button'
                    data-tooltip='COMBAT.PingCombatant'
                    data-control='pingCombatant'
                >
                    <i class='fa-solid fa-bullseye-arrow'></i>
                </a>
            {{/if}}
            {{#if combatant.isOwner}}
                <a
                    class='combatant-control {{ifThen (gt combatant.system.turns.left 0) "" "active"}}'
                    aria-label='{{localize "system.combat.markTurnTaken"}}'
                    role='button'
                    data-tooltip='system.combat.markTurnTaken'
                    data-control='markTurnTaken'
                >
                    <i class='fa-solid fa-hourglass-{{ifThen (gt combatant.system.turns.left 0) "start" "end"}}'></i>
                </a>
            {{/if}}

            {{#unless @root.user.isGM}}
                <a
                    class='combatant-control'
                    aria-label='{{localize "COMBAT.PanToCombatant"}}'
                    role='button'
                    data-tooltip='COMBAT.PanToCombatant'
                    data-control='panToCombatant'
                >
                    <i class='fa-solid fa-arrows-to-eye'></i>
                </a>
            {{/unless}}
            <div class='token-effects'>
                {{#each combatant.effects}}
                    <img class='token-effect' src='{{combatant}}' />
                {{/each}}
            </div>
        </div>
        {{#if combatant.isOwner}}
            <div class='token-turns'>
                <span class='resource'>Turns: {{combatant.system.turns.left}}</span>
            </div>
        {{/if}}
    </div>

    {{#if combatant.hasResource}}
        <div class='token-resource'>
            <span class='resource'>{{combatant.resource}}</span>
        </div>
    {{/if}}
</li>