<div class='dice-adjustments roll-dialog-section'>
    <div class='dice-adjustment general-adjustments'>
        <div class='header'>General Dice Adjustments</div>
        <div class='edges-banes'>

            <div class='banes'>
                <div>Banes</div>
                <div>
                    <div class='adjust-dice subtract-dice' data-type='banes' data-adjustment='decrease' data-action='adjustDice'>
                        <i class='fa-solid fa-minus'></i>
                    </div>
                    <div>{{context.general.banes}} <i class='fa-regular fa-dice-d4'></i></div>
                    <div class='adjust-dice add-dice' data-type='banes' data-adjustment='increase' data-action='adjustDice'>
                        <i class='fa-solid fa-plus'></i>
                    </div>
                </div>
            </div>
            <div class='edges'>
                <div>Edges</div>
                <div>
                    <div class='adjust-dice subtract-dice' data-type='edges' data-adjustment='decrease' data-action='adjustDice'>
                        <i class='fa-solid fa-minus'></i>
                    </div>
                    <div>{{context.general.edges}} <i class='fa-regular fa-dice-d4'></i></div>
                    <div class='adjust-dice add-dice' data-type='edges' data-adjustment='increase' data-action='adjustDice'>
                        <i class='fa-solid fa-plus'></i>
                    </div>
                </div>
            </div>
            <div class='bonuses'>
                <div>Bonsues/Penalties</div>
                <div>
                    <div class='adjust-dice subtract-dice' data-type='bonuses' data-adjustment='decrease' data-action='adjustDice'>
                        <i class='fa-solid fa-minus'></i>
                    </div>
                    <div>{{context.general.bonuses}}</i></div>
                    <div class='adjust-dice add-dice' data-type='bonuses' data-adjustment='increase' data-action='adjustDice'>
                        <i class='fa-solid fa-plus'></i>
                    </div>
                </div>
            </div>
        </div>
        {{#unless context.hasTargets}}
             {{> 'systems/draw-steel/templates/rolls/power-roll/partials/formula-button.hbs' roll=context.baseRoll}}
        {{/unless}}
    </div>

    {{#each context.targets as |target|}}<div class='dice-adjustment target-adjustments'>
            <div class='header'>{{target.actor.name}}</div>
            <div class='edges-banes'>

                <div class='banes'>
                    <div>Banes</div>
                    <div>
                        <div
                            class='adjust-dice subtract-dice'
                            data-token-target='{{@key}}'
                            data-type='banes'
                            data-adjustment='decrease'
                            data-action='adjustDice'
                        >
                            <i class='fa-solid fa-minus'></i>
                        </div>
                        <div>
                            {{target.banes}}
                            <i class='fa-regular fa-dice-d4'></i>
                        </div>
                        <div class='adjust-dice add-dice' data-token-target='{{@key}}' data-type='banes' data-adjustment='increase' data-action='adjustDice'>
                            <i class='fa-solid fa-plus'></i>
                        </div>
                    </div>
                </div>
                <div class='edges'>
                    <div>Edges</div>
                    <div>
                        <div
                            class='adjust-dice subtract-dice'
                            data-token-target='{{@key}}'
                            data-type='edges'
                            data-adjustment='decrease'
                            data-action='adjustDice'
                        >
                            <i class='fa-solid fa-minus'></i>
                        </div>
                        <div>{{target.edges}} <i class='fa-regular fa-dice-d4'></i></div>
                        <div class='adjust-dice add-dice' data-token-target='{{@key}}' data-type='edges' data-adjustment='increase' data-action='adjustDice'>
                            <i class='fa-solid fa-plus'></i>
                        </div>
                    </div>
                </div>
                <div class='bonuses'>
                    <div>Bonuses/Penalties</div>
                    <div>
                        <div
                            class='adjust-dice subtract-dice'
                            data-token-target='{{@key}}'
                            data-type='bonuses'
                            data-adjustment='decrease'
                            data-action='adjustDice'
                        >
                            <i class='fa-solid fa-minus'></i>
                        </div>
                        <div>
                            {{target.bonuses}}
                        </div>
                        <div class='adjust-dice add-dice' data-token-target='{{@key}}' data-type='bonuses' data-adjustment='increase' data-action='adjustDice'>
                            <i class='fa-solid fa-plus'></i>
                        </div>
                    </div>
                </div>
            </div>
            {{> 'systems/draw-steel/templates/rolls/power-roll/partials/formula-button.hbs' roll=target.roll token=@key}}
        </div>
    {{/each}}
</div>