<div>
    <div>
        Base Formula:
        {{baseFormula}}
        {{#if characteristic}}
            +
            {{localize (concat 'mcdmrpg.characteristics.' characteristic '.label')}}
        {{/if}}
    </div>

    {{#if tn}}<div class='tn'>TN: {{tn}}</div>{{/if}}

    <div class='mcdmrpg-header'>Dice Adjustments</div>
    <div class='boons-banes-and-impacts'>
        <div class='boons'>
            <div>Boons</div>
            <div>
                <div class='adjust-dice subtract-dice' data-type='boons' data-adjustment='subtract'><i class='fa-solid fa-minus'></i></div>
                <div>{{boons}} <i class='fa-regular fa-dice-d4'></i></div>
                <div class='adjust-dice add-dice' data-type='boons' data-adjustment='add'><i class='fa-solid fa-plus'></i></div>
            </div>
        </div>
        <div class='banes'>
            <div>Banes</div>
            <div>
                <div class='adjust-dice subtract-dice' data-type='banes' data-adjustment='subtract'><i class='fa-solid fa-minus'></i></div>
                <div>{{banes}} <i class='fa-regular fa-dice-d4'></i></div>
                <div class='adjust-dice add-dice' data-type='banes' data-adjustment='add'><i class='fa-solid fa-plus'></i></div>
            </div>
        </div>
    </div>

    <button class='roll-button'>{{constructedFormula}}</button>
</div>