<form>
    <div class="ancestry-trait">
        <div class="ancestry-property">Name:</div>
        <div class="ancestry-value"><input type="text" name="name" value="{{name}}" /></div>
    </div>
    <div class="ancestry-trait">
        <div class="ancestry-property">Width:</div>
        <div class="ancestry-value"><input type="text" name="system.size.width" value="{{size.width}}" /></div>
    </div>
    <div class="ancestry-trait">
        <div class="ancestry-property">Length:</div>
        <div class="ancestry-value"><input type="text" name="system.size.length" value="{{size.length}}" /></div>
    </div>
    <div class="ancestry-trait">
        <div class="ancestry-property">Weight:</div>
        <div class="ancestry-value"><input type="text" name="system.size.weight" value="{{size.weight}}" /></div>
    </div>
    <div class="ancestry-trait">
        <div class="ancestry-property">Reach:</div>
        <div class="ancestry-value"><input type="text" name="system.reach" value="{{reach}}" /></div>
    </div>
    <div class="ancestry-trait">
        <div class="ancestry-property">Speed:</div>
        <div class="ancestry-value"><input type="text" name="system.speed" value="{{speed}}" /></div>
    </div>
    <div class="ancestry-trait">
        <div class="ancestry-property">Description:</div>
        <div class="ancestry-value"><input type="text" name="system.description" value="{{description}}" /></div>
    </div>
</form>
