<div class='header'>
    <div class='item-img {{item.type}}-img'>
        <img src='{{item.img}}' data-tooltip='{{item.name}}' data-edit='img' />
    </div>
    <div class='item-name {{item.type}}-name'>
        {{formInput item.schema.fields.name value=item.name}}
    </div>
</div>