<div class='header'>
    <div class='item-img {{item.type}}-img'>
        <img src='{{source.img}}' data-tooltip='{{item.name}}' data-action='editImage' />
    </div>
    <div class='item-name {{item.type}}-name'>
        {{formInput item.schema.fields.name value=source.name}}
    </div>
</div>