<div class='details-tab tab {{ifThen (eq activeTabs.main "details") "active" ""}}' data-group='main' data-tab='details'>
    <fieldset>
        <legend>Type</legend>
        {{formInput fields.type value=source.system.type classes='kit-type'}}
    </fieldset>

    <fieldset class='kit-equipment'>
        <legend>Equipment</legend>
        Armor
        <multi-checkbox name='system.armor'>
            {{selectOptions constants.kits.ARMOR selected=source.system.armor localize=true}}
        </multi-checkbox>

        {{#if (eq source.system.type 'martial')}}
            Weapon
            <multi-checkbox name='system.weapon'>
                {{selectOptions constants.kits.WEAPON selected=source.system.weapon localize=true}}
            </multi-checkbox>

        {{else if (eq source.system.type 'caster')}}
            Implement
            <multi-checkbox name='system.implement'>
                {{selectOptions constants.kits.IMPLEMENT selected=source.system.implement localize=true}}
            </multi-checkbox>
        {{/if}}
    </fieldset>
    <fieldset class='kit-bonuses'>
        <legend>Bonuses</legend>

        <div class='ds-property'>
            <div class='label'>{{fields.stamina.label}}</div>
            <div class='value'>{{formInput fields.stamina value=source.system.stamina classes='kit-stamina'}}</div>
        </div>

        <div class='ds-property'>
            <div class='label'>{{fields.speed.label}}</div>
            <div class='value'>{{formInput fields.speed value=source.system.speed classes='kit-speed'}}</div>
        </div>
        <div class='ds-property'>
            <div class='label'>{{fields.stability.label}}</div>
            <div class='value'>{{formInput fields.stability value=source.system.stability classes='kit-stability'}}</div>
        </div>
        <div class='ds-property'>
            <div class='label'>{{fields.distance.label}}</div>
            <div class='value'>{{formInput fields.distance value=source.system.distance classes='kit-distance'}}</div>
        </div>

        {{#if (eq source.system.type 'martial')}}
            <div class='ds-property'>
                <div class='label'>{{fields.reach.label}}</div>
                <div class='value'>{{formInput fields.reach value=source.system.reach classes='kit-reach'}}</div>
            </div>
            {{! MARTIAL }}
            <div class='kit-damage-melee kit-damage-bonus ds-property'>
                <label class='label'>Melee Damage Bonus</label>
                <div class='value'>
                    {{#each source.system.damage.melee as |bonus|}}
                        {{formInput
                            @root.fields.damage.fields.melee.element
                            name=(concat 'system.damage.melee.' @index)
                            value=bonus
                            classes='kit-damage-melee'
                        }}
                    {{/each}}
                </div>
            </div>
            <div class='kit-damage-range kit-damage-bonus ds-property'>
                <label class='label'>Range Damage Bonus</label>
                <div class='value'>
                    {{#each source.system.damage.range as |bonus|}}
                        {{formInput
                            @root.fields.damage.fields.range.element
                            name=(concat 'system.damage.range.' @index)
                            value=bonus
                            classes='kit-damage-range'
                        }}
                    {{/each}}
                </div>
            </div>

        {{else if (eq source.system.type 'caster')}}
            {{! CASTER }}
            {{formField fields.area value=source.system.area classes='kit-area'}}
            <div class='kit-damage-magic kit-damage-bonus'>
                <label class='label'>Magic Damage Bonus</label>
                <div class='value'>
                    {{#each source.system.damage.magic as |bonus|}}
                        {{formField
                            @root.fields.damage.fields.magic.element
                            name=(concat 'system.damage.magic.' @index)
                            value=bonus
                            classes='kit-damage-magic'
                        }}
                    {{/each}}
                </div>
            </div>
        {{/if}}

    </fieldset>
    <fieldset>
        <legend>Description</legend>
        {{formInput fields.description value=source.system.description height=300}}
    </fieldset>
</div>